<h1> <%= @tutor.firstname + ' '+ @tutor.lastname %> </h1>
<% if @tutor.id== session[:user_id] %>
<%= link_to 'Edit Profile', edit_tutor_path(@tutor) %>
<%= link_to 'Remove Account', @tutor, method: :delete, data: { confirm: 'Are you sure?' } %>
<%end %>

<p>
  <strong>Phone:</strong>
  <%= @tutor.phone %>
</p>

<p>
  <strong>Location:</strong>
  <%= @tutor.location %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tutor.email %>
</p>

<p>
  <strong> Subjects: </strong>
  <% @tutor.subject_items.each do |subject| %>
    <p><%=subject.subject.subject %> <% if @tutor.id==session[:user_id]%><%= link_to 'Remove', subject, method: :delete, data: { confirm: 'Are you sure?' } %><%end%></p>
  <% end %>
</p>
<% if @tutor.id== session[:user_id] %>
  <p><%= link_to 'Add Subject', new_subject_item_path %></p>
<%end%>

<%= link_to 'Back', tutors_path %>
