<p id="notice"><%= notice %></p>

<p>
  <strong>Tutors:</strong>
  <%= @subject_item.tutors %>
</p>

<p>
  <strong>Subjects:</strong>
  <%= @subject_item.subjects %>
</p>

<%= link_to 'Edit', edit_subject_item_path(@subject_item) %> |
<%= link_to 'Back', subject_items_path %>
